
<form action="/create_movie/">
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" name="title" class="form-control" placeholder="Title">
  </div>
  <div>
    <label for="year">Year</label>
    <input id="year" type="text" name="year" class="form-control" placeholder="Year">
  </div>
  <div>
    <label for="dur">Duration</label>
    <input id="dur" type="text" name="duration" class="form-control" placeholder="Duration">
  </div>
  <div>
    <label for="desc">Description</label>
    <input id="desc" type="text" name="description" class="form-control" placeholder="Description">
  </div>
  <div>
    <label for="img">Image URL</label>
    <input id="img" type="text" name="image_url" class="form-control" placeholder="Image URL">
  </div>
  <div>
    <button class="btn btn-default">Submit</button>
  </div>
</form>
