
<form action="/create_director/">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" class="form-control" placeholder="Name">
  </div>
  <div>
    <label for="dob">DOB</label>
    <input id="dob" type="text" name="dob" class="form-control" placeholder="DOB">
  </div>
  <div>
    <label for="bio">Bio</label>
    <input id="bio" type="text" name="bio" class="form-control" placeholder="Bio">
  </div>
  <div>
    <label for="img">Image URL</label>
    <input id="img" type="text" name="image_url" class="form-control" placeholder="Image URL">
  </div>
  <div>
    <button class="btn btn-default">Submit</button>
  </div>
</form>
